// @file
// Styles for Content Layout.

// .l-content {}
.cuba-bod-person {
  display: block;
  width: 100%;

  &__wrapper {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 100%;

    @media screen and (min-width: 48em) {
      grid-template-columns: 50% 50%;
    }
  }

  &__picture {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: center;

    img {
      margin-right: auto;
      margin-left: auto;

      @media screen and (min-width: 48em) {
        float: right;
      }
    }
  }

  &__titles {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0 1rem;
    text-align: center;

    @media screen and (min-width: 48em) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      padding: 0;
      text-align: left;
    }
  }

  &__bio {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    padding: 0 2rem;
    @media screen and (min-width: 48em) {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }
  }
}

.cuba-bod-view {
  display: block;
  width: 100%;

  @media screen and (min-width: 48em) {
    display: flex;
    flex-wrap: wrap;
  }

  &__profile {
    padding: 1rem 0;

    .button {
      border-radius: 0;
      width: 75%;
    }
  }

  &__row {
    display: block;
    flex: 1 1 100%;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 48em) {
      display: flex;
      flex: 1 1 51%;
      flex-wrap: wrap;

    }
    @media screen and (min-width: 64em) {
      flex: 1 1 50%;
      max-width:50%;
    }
  }

  &__row:first-child {
    flex: 1 1 100%;
    margin:4.5rem auto;
    .cuba-bod-view__card {
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 64em) {
      max-width:inherit;
      .cuba-bod-view__card {
        max-width:40rem;
      }
    }

  }
  &__row:last-of-type {
    margin-left: auto;
    margin-right: auto;
  }
  &__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 100%;
    margin: 0 1rem;
    width:calc(100% - 2rem);

    @media screen and (min-width: 48em) {
      grid-gap: 0.5rem;
      grid-template-columns: 30% 70%;
    }
  }

  &__picture {

    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 48em) {

      margin-left: initial;
      margin-right: initial;
    }

    .media--type-board-of-directors {
      height: 100%;
    }

    .field--name-field-media-image-1 {
      height: 100%;
      width: 100%;
    }

    img {
      max-height: 250px;
      transform: scale(1.1);
      margin: 0;
      padding: 0;

      @media screen and (min-width: 48em) {
        height: 100%;
      }
    }
  }

  &__picture.default {
    overflow: hidden;
  }

  &__titles {

    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0 1rem;
    text-align: center;

    h2 {
      font-size: 1.5rem;
    }

    @media screen and (min-width: 48em) {

      grid-column: 2 / 3;
      grid-row: 1 / 2;
      text-align: left;
    }

    a {
      text-decoration: none;
    }
  }
}

.cuba-bod-page-title {
  h1 {

    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;


    @media screen and (min-width: 48em) {
      font-size: 3rem;
    }
  }
}