.paragraph--type--cuba-pt-captioned-image {
  position: relative;

  .field--type-entity-reference {
    margin: 0;
  }

  .paragraph--type--cuba-pt-captioned-image {
    position: relative;
  }

  .field--name-field-cuba-ci-image {
    position: relative;
  }

  .field--name-field-cuba-ci-caption {
    background-color: #2B5316;
    padding: 1rem;
    color: white;

    p {
      margin: 0;
    }

    a {
      color: #cbe5be;

      &:hover {
        color: white;
      }
    }
  }

  @media screen and (min-width: 48em) {
    .field--name-field-cuba-ci-caption {
      position: absolute;
      top: 50%;
      margin-top: -50px;
      min-width: 500px;
    }
  }
}
