.paragraph--type--cuba-pt-captioned-image {
  position: relative;

  .paragraph--type--cuba-pt-captioned-image {
    position: relative;
  }

  .field--name-field-cuba-ci-image {
    position: relative;
  }

  .field--name-field-cuba-ci-caption {
    background-color: #2B5316;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    padding: 1rem;
    color: white;
    min-width: 500px;

    p {
      margin: 0;
    }
  }
}
