.cuba-header {
  .language-switcher-language-url {
    display: inline-block;
    float: right;
    margin-top: 1rem;
    list-style-type: none;

    .language-link {
      color: gray;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #4d713e;
        text-decoration: none;
      }
    }
  }
}
