.cuba-speaker {
  &__wrapper {
    padding: 1rem 0;
  }

  &__card {
    max-width: 40rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    width:calc(100% - 2rem);

    @media screen and (min-width: 48em) {
      grid-gap: 2rem;
      grid-template-columns: 30% 70%;
      text-align: left;
    }

    .field--type-entity-reference {
      margin: 0;
    }
  }

  &__picture {
    grid-column: 1 / 2;

    img {
      max-height: 300px;
      margin: 0;
      padding: 0;
      height: 100% !important;
    }
  }

  &__talk-title {
    padding: 1rem 0;

    @media screen and (min-width: 48em) {
      max-width: 80%;
    }
  }

  &__pos-title {
    @media screen and (min-width: 48em) {
      max-width: 80%;
    }
  }

  &__bio {
    max-width: 63rem;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 48em) {
      padding: 1rem 0;
    }
  }

  &__main-title {
    text-align: center;

    h1 {
      font-size: 2.5rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
}

.cuba-speakers-page-title {
  text-align: center;

  h1 {
    font-size: 2.5rem;
  }

  .field--name-name {
    display: inline-block;
  }
}