{% if language == 'Francais' %}
  <div class="cuba-speakers-page-title">
    <h1>{{ drupal_field('name', 'taxonomy_term', view.args[0]) }} Haut-parleurs</h1>
  </div>
{% else %}
  <div class="cuba-speakers-page-title">
    <h1>{{ drupal_field('name', 'taxonomy_term', view.args[0]) }} Speakers</h1>
  </div>
{% endif %}

<div class="cuba-bod-view">
  {% for row in rows %}
    {{- row.content -}}
  {% endfor %}
</div>