<footer class="cuba-footer--wrapper layout-container">
  <ul class="cuba-footer-links">
    <li>
      <a href="privacy-policy">
        Privacy Policy
      </a>
    </li>
    <li>
      <a href="site-map">
        Site Map
      </a>
    </li>
  </ul>
</header>